<div id="image-viewer" when-scrolled="loadMore()" ng-show="filteredPlaces.length > 0 && trips.length > 0">
  <div>
    <div id="empty" ng-show="photos.length == 0 && !isLoadingPhotos()">
      <img src="/assets/images/icons/empty/camera-screen.png">
      <span><strong>No photos yet.</strong></span><br><br>
      <span ng-show="isMyMap()">Add some memories from the <a ui-sref="trips">trip manager</a></span>
    </div>
    <div id="thumb" ng-click="selectPhoto($index)" ng-class="{ 'selected': selectedPhotoIndex == $index }" ng-repeat="photo in photos" style="background-image: url('{{photo.thumbUrl}}'), url('/assets/images/icons/spin.gif');"></div>
  </div>
  <div id="overlay" ng-class="{ 'closed': closed || photos.length == 0 }">
    <img id="close" ng-click="close()" src="/assets/images/icons/white/close.png">
    <img id="left" ng-click="prevPhoto()" src="/assets/images/icons/white/arrow-left.png">
    <img id="right" ng-click="nextPhoto()" src="/assets/images/icons/white/arrow-right.png">
    <div id="image-cover"></div>
    <div id="image" style="background-image: url('{{photos[selectedPhotoIndex].url}}'), url('{{photos[selectedPhotoIndex].thumbUrl}}');"></div>
  </div>
</div>
