.gallery {
  box-sizing: border-box;
  .thumbnail {
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-image: url('http://placehold.it/500x500');
    background-position: center center;
    background-size: cover;
  }
}
