#map-container {
  position: relative;
  width: 100%;
  height: 100%;

  #galleryPanel {
    width: 50%;
    height: 100%;
    float: left;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    padding-top: 15px;

    #title {
      height: 150px;
      margin: auto;
      text-align: center;

      * {
        display: block;
        margin: auto;
        padding-bottom: 10px;
      }

      img {
        width: 14px;
        height: auto;
        opacity: 0.4;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }

      #place {
        font-size: 20px;
      }

      #trip {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      #dates {
        font-size: 12px;
      }
    }

    #gallery {
      width: 100%;
      height: calc(~"100% - 120px");
      overflow-y: scroll;

      #thumb {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-position: center center;
        background-size: cover;
        vertical-align: top; // prevents vertical gap between image rows
      }
    }
  }
  #mapPanel {
    width: 50%;
    height: 100%;
    float: right;
  }
}
