#map-container {
  position: relative;
  width: 100%;
  height: 100%;

  #galleryPanel {
    width: 50%;
    height: 100%;
    float: left;
  }
  #mapPanel {
    width: 50%;
    height: 100%;
    float: right;
  }
}
