.places-component {
  position: relative;
  .node {
    padding-bottom: 20px;

    input[type="radio"] {
      display: none;
    }
    label .nub-outer {
      margin-right: 20px;
    }
    input[type="radio"] + label .nub-outer {
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      width:20px;
      height:20px;
      background-color: #fff;
      border: 2px solid #d32f2f;
      border-radius: 50%;
      cursor: pointer;

      .nub-select {
        position: absolute;
        background-color: #fff;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        border-radius: 50%;
      }
    }
    input[type="radio"] + label .dashed {
      border-style: dotted;
    }
    input[type="radio"]:checked + label .nub-outer .nub-select {
      background-color: #d32f2f;
    }

    // bold title for selected label
    input[type="radio"]:checked + label .place-text {
      font-weight: 600;
    }

    label {
      cursor: pointer;
      .place-text {
        // Required for proper alignment with nodes
        position: absolute;
        font-size: 16px;

        // bold title for hover on label
        &:hover {
          font-weight: 600;
        }
      }
      .add-place {

        color: @accent;
        font-style: italic;
        text-decoration: underline;
      }
    }

    .node-content {
      margin-left: 40px;
    }
  }

  .connector {
    position: absolute;
    width: 4px;
    height: calc(~"100% - 30px");
    left: 8px;
    background-color: #d32f2f;
  }
}
