#trips-container {
  width: 100%;
  height: 100%;
  line-height: 25px;
  box-sizing: border-box;

  h1 {
    padding-bottom: 15px;
  }

  .trip-tabs {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    color: #444;
    padding: 10px 0;

    li {
      display: inline;
      padding-right: 20px;
      position: relative;

      &.selected {
        font-weight: 600;
        color: #000;
      }
    }

    .hidden {
      visibility: hidden;
      position: absolute;
    }

    img {
      // parent line-height: 20px, img vertical-align: middle to vert center
      vertical-align: middle;
      height: 20px;
      width: auto;
      cursor: hand;
      cursor: pointer;
    }
    form {
      display: inline;
      input {
        height: 25px;
        box-sizing: border-box;
        padding: 5px 5px;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        border: none;
        border-bottom: 1px solid #000;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
