<div id="image-viewer" when-scrolled="loadMore()">
  <div id="thumb" ng-click="selectPhoto($index)" ng-class="{ 'selected': selectedPhotoIndex == $index }" ng-repeat="photo in photos" style="background-image: url('{{photo.url}}'), url('/assets/images/icons/spin.gif');"></div>

  <div id="overlay" ng-class="{ 'closed': closed }">
    <img id="close" ng-click="close()" src="/assets/images/icons/white/close.png">
    <img id="left" ng-click="prevPhoto()" src="/assets/images/icons/white/arrow-left.png">
    <img id="right" ng-click="nextPhoto()" src="/assets/images/icons/white/arrow-right.png">
    <div id="image-cover"></div>
    <div id="image" style="background-image: url('{{photos[selectedPhotoIndex].url}}');"></div>
  </div>
</div>
