<div id="map-container" ng-controller="mapController">
  <div id="galleryPanel" ng-click="showthumbs()">
    <div id="title-box">
      <span id="trip">{{selectedTrip().name}}</span>
      <div id="trip-line"></div>
      <div id="place">
        <span>{{selectedPlace().location.name}}</span>
        <img id="up" src="/assets/images/icons/black/expand-up.png" ng-click="decrementSelectedPlace()">
        <img id="down" src="/assets/images/icons/black/expand-down.png" ng-click="incrementSelectedPlace()">
      </div>
      <span id="dates">{{formatDate(selectedPlace().from_date)}} - {{formatDate(selectedPlace().to_date)}}</span>
    </div>

    <image-viewer></image-viewer>


  </div>
  <div trip-map id="mapPanel" get-trips-fn="trips" get-places-fn="places"></div>
</div>
