<div id="map-container" ng-controller="mapController">
  <!-- Must give a div a tabindex so that it can receive focus for keydown event  -->
  <div id="galleryPanel" ng-click="showthumbs()" keydown="keydown" tabindex="0">
    <div id="title-box">
      <!--<span id="trip">{{selected.getTrip().name}}</span>-->
      <dropdown-menu id="trip" items="trips" callback="select"></dropdown-menu>
      <div id="trip-line" ng-style="tripColor()"></div>
      <div id="place">
        <span>{{selected.getPlace().location.name}}</span>
        <img id="up" src="/assets/images/icons/black/expand-up.png" ng-click="decrementSelectedPlace()">
        <img id="down" src="/assets/images/icons/black/expand-down.png" ng-click="incrementSelectedPlace()">
      </div>
      <span id="dates">{{formatDate(selected.getPlace().from_date)}} - {{formatDate(selected.getPlace().to_date)}}</span>
    </div>

    <image-viewer></image-viewer>


  </div>
  <div trip-map id="mapPanel" get-trips-fn="getTrips" get-places-fn="getPlaces" selected="selected"></div>
</div>
