nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 80px;
  box-sizing: border-box;
  padding: 0 100px;
  background-color: #fff;
  box-shadow: @shadow3;

  #logo {
    position: absolute;
    height: 32px;
    width: auto;
    top: calc(~"50% - 16px");
    left: 100px;
  }
  #menu {
    display: none;
  }

  ul {
    list-style-type: none;
    float: right;
    padding: 0;
    margin: 0;
    li {
      float: left;
      &:hover {
        background-color: @primary-dark;
        a {
          color: #fff;
        }
      }
      a {
        display: inline-block;
        height: 80px;
        padding: 0 20px;
        font-family: "Comfortaa", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 80px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #000;
      }
    }
  }
}
header {
  position: relative;
  width: 100%;
  padding-top: 130px;
  padding-bottom: 50px;
  background-color: @primary-dark;
  color: #fff;
  text-align: center;

  h2 {
    font-family: "Pacifico", cursive;
    font-size: 40px;
    margin-bottom: 10px;
  }
  img {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto 20px auto;
  }
  .anchor {
    position: absolute;
    width: 285px;
    height: auto;
    -webkit-animation: wobble 1s linear infinite;
    -moz-animation: wobble 1s linear infinite;
    animation: wobble 1s linear infinite;

    &#anchor1 {
      top: 160px;
      left: calc(~"50% - 285px - 95px");
      transform-origin: 275px 265px;
    }
    &#anchor2 {
      top: 150px;
      left: calc(~"50% + 90px");
      transform-origin: 10px 215px;
      animation-delay: 0.2s;
    }
    &#anchor3 {
      top: 435px;
      left: calc(~"50% - 285px - 80px");
      transform-origin: 277px 94px;
      animation-delay: 0.2s;
    }
    &#anchor4 {
      top: 350px;
      left: calc(~"50% + 130px");
      transform-origin: 8px 108px;
      animation-delay: 0.35s;
    }
  }

  a {
    display: block;
    width: 150px;
    height: 40px;
    margin: 20px auto 0 auto;
    span {
      line-height: 40px;
    }
  }
}


@keyframes wobble
{
  0%   {transform: rotate(0deg);}
  50%   {transform: rotate(3deg);}
  100%   {transform: rotate(0deg);}
}
