<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>Tripmappr</title>
    <meta name="description" content="Put your memories on the map.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Open Graph tags (for e.g. proper display when link shared on Facebook) -->
    <meta property="og:title" content="Tripmappr" />
    <meta property="og:description" content="Put your memories on the map." />
    <meta property="og:type" content="website" />
    <!-- TODO: change to real domain -->
    <!--<meta property="og:url" content="https://languagepear.herokuapp.com/" />
    <meta property="og:image:secure_url" content="https://languagepear.herokuapp.com/assets/images/logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="735" />
    <meta property="og:image:height" content="735" />-->
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <!-- Styles -->
    <link rel="stylesheet" href="/assets/styles/css/app.css">
  </head>

  <body ng-app="landing" ng-controller="appController">
    <nav>
      <img id="logo" src="/assets/images/logo.png">
      <img id="menu" src="/assets/images/icons/menu.png" ng-click="toggleNav()">
      <ul ng-click="toggleNav()">
        <li><a href="#home">HOME</a></li>
        <li><a href="#how-it-works">HOW IT WORKS</a></li>
        <li><a href="/">DEMO</a></li>
        <li><a href="#sign-up">SIGN UP</a></li>
      </ul>
    </nav>
    <header id="home">
      <h1>tripmappr</h1>
      <h2>Welcome to</h2>
      <img src="/assets/images/logo-white.png">
      <img id="globe" src="/assets/images/globe.png">
      <img class="anchor" id="anchor1" src="/assets/images/anchor1.png">
      <img class="anchor" id="anchor2" src="/assets/images/anchor2.png">
      <img class="anchor" id="anchor3" src="/assets/images/anchor3.png">
      <img class="anchor" id="anchor4" src="/assets/images/anchor4.png">
      <a href="#sign-up" class="button"><span>SIGN UP</span></a>
    </header>

    <div class="content" id="intro">
      <h2>Love to travel?</h2>
      <h3>Put your memories on the map.</h3>
      <animated-map></animated-map>
    </div>

    <div class="content" id="how-it-works">
      <h2>How it works</h2>
      <ul class="clearfix">
        <li><span>Name your trip</span><span class="number">1</span></li>
        <li><span>Add places</span><span class="number">2</span></li>
        <li><span>Add photos</span><span class="number">3</span></li>
        <li><span>Relive your experiences!</span><span class="number">4</span></li>
      </ul>
    </div>
    <div id="rows">
      <div class="row-layout clearfix" id="sharing-experiences">
        <div class="content-text">
          <h2>Share your experiences</h2>
          <p>Travelling makes the best memories. Do them justice by sharing on a sleek, interactive map - it's as easy as copy-paste.</p>
        </div>
        <div class="content-image"></div>
      </div>
      <div class="row-layout clearfix" id="for-friends">
        <div class="content-image"></div>
        <div class="content-text">
          <h2>Made for friends</h2>
          <p>Met some awesome people while out there? Sweet. Collaborative trips let you sync up your maps, so your experiences are all in one place.</p>
        </div>
      </div>
      <div class="row-layout clearfix" id="discover">
        <div class="content-text">
          <h2>Discover your next trip</h2>
          <p>Explore our hand-curated maps to discover the best adventures out there, all over the world. Tripmappr makes sure that your next trip is your best yet.</p>
        </div>
        <div class="content-image"></div>
      </div>
    </div>
    <div id="demo">
      <div>
        <h2>Still not sure?</h2>
        <a href="/" class="button"><span>TRY THE DEMO</span></a>
      </div>
    </div>
    <div id="sign-up">
      <h2>Interested?</h2>
      <h3>Sign up below and you'll be the first to know when we launch!</h3>
      <form>
        <input type="text" placeholder="Name"></input>
        <input type="email" placeholder="Email"></input>
        <button type="submit"><span>SIGN UP</span></button>
      </form>
    </div>

    <!-- Dependencies -->
    <script src="/npm_scripts/jquery/dist/jquery.min.js"></script>
    <script src="/npm_scripts/angular/angular.min.js"></script>
    <script src="/npm_scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_scripts/angular-animate/angular-animate.min.js"></script>

    <!-- ROOT -->
    <script src="/app/app.js"></script>
    <script src="/app/animated-map/animated-map.directive.js"></script>
  </body>
</html>
