<div id="map-container" ng-controller="mapController">
  <!-- Must give a div a tabindex so that it can receive focus for keydown event  -->
  <div id="galleryPanel" ng-click="showthumbs()" keydown="keydown" tabindex="0">
    <div id="title-box" ng-show="trips.length > 0">
      <dropdown-menu id="trip" items="trips" get="selected.getTrip" set="selected.setTrip"></dropdown-menu>
      <places-navigator></places-navigator>
    </div>

    <image-viewer></image-viewer>


  </div>
  <div trip-map id="mapPanel" get-trips-fn="getTrips" get-places-fn="getPlaces" selected="selected"></div>
</div>
