.modal-backdrop {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  z-index: 100;
  opacity: 0.5;
}

.modal-holder {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: transparent;
  z-index: 200;
  padding: 50px;
}

.modal-box {
  position: relative;
  margin: auto;
  width: 600px;
  padding: 25px;
  background: #fff;
  border-radius: 4px;
  box-shadow: @shadow3;
  box-sizing: border-box;
}
