<div class="modal-box add-place" ng-controller="addPlaceController">
  <h2>Add a Place</h2>
  <form ng-submit="submit()">
    <input id="add-place-search" type="text" placeholder="Where did you go?" ng-model="name" required></input>
    <div add-place-map ng-model="location" id="add-place-map" class="map"></div>
    <input type="date" placeholder="From" required></input>
    <span>-</span>
    <input type="date" placeholder="To" required></input>
    <div class="buttons">
      <button type="submit" class="material-button-raised">OK</button>
      <button ui-sref="trips" class="material-button-flat">CANCEL</button>
    </div>
  </form>
</div>
